*{
  outline: none;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-weight: 400;
  background-color: white;
  font-family: "Poppins" !important;
}
a,
span {
  font-weight: 400;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-padding {
  padding: 80px 0;
}
