@import "../Fonts/SFprodisplay.css";
.Cookies {
  background-color: rgb(22, 24, 27);
  padding: 20px;
}
.Cookies .cookie-info {
  background-color: rgb(31, 33, 37);
  padding: 28px;
}
.Cookies .cookie-back .cookie-head {
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.Cookies .cookie-back .cookie-content {
  color: rgb(153 156 158);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  margin: 13px 0;
}
.Cookies .cookie-back .cookie-link {
  color: rgb(122, 127, 132);
  text-align: right;
  font-size: 15px;
}
.Cookies .cookie-gap {
  margin-top: 10px;
}
