@import "../Fonts/SFprodisplay.css";
.Gallery {
  background-color: rgb(22, 24, 27);
  padding: 20px;
}
.gallery-left-head {
  color: white;
  font-size: 19px;
  font-weight: bold;
}
.Gallery .gallery-pics {
  margin-top: 15px;
}
.menu-gap {
  padding: 2px;
  font-size: 16px;
}
.Gallery .gallery-pos .gallery-pic1 {
  background: #1f2125;
  opacity: 0.5;
  display: block;
}
.Gallery .gallery-pos {
  position: relative;
}
.Gallery .gallery-pos .gallery-picdec {
  display: flex;
  gap: 10px;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  opacity: 0;
  background: transparent; 
  transition: background 0.3s ease;
  pointer-events: none; 
}

.gallery-pos:hover .gallery-picdec {
  background: rgba(0, 0, 0, 0.5); 
  opacity: 1;
  pointer-events: auto;
}

.Gallery .gallery-pos .gallery-head {
  color: white;
  font-size: 12px;
}
