@import "../Fonts/SFprodisplay.css";
.Hero {
  background-color: rgb(22, 24, 27);
  padding-bottom: 141px;
}
.Hero .heroparent {
  display: flex;
  align-items: center;
}
.Hero .hero-leftside {
  width: 40%;
  padding-top: 136px;
}
.Hero .hero-leftside .hero-leftpara {
  color: white;
  font-size: 59px;
  font-weight: bold;
}
.Hero .hero-leftside .hero-leftcontent {
  padding-left: 29px;
}
.Hero .hero-lineo {
  width: 147px;
  height: 2px;
  background: #ff9100;
}

.Hero .hero-leftlinecontent {
  display: flex;
  gap: 21px;
  align-items: center;
  margin: 34px 0;
}
.Hero .hero-linetext {
  color: #ff9100;
  font-weight: 500;
  font-size: 18px;
}
.hero-btn {
  background: #ff9100;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 0px 20px 20px 0px;
  justify-content: center;
  padding: 20px 37px;
  gap: 10px;
  border: none;
}

.buttondefault {
  display: inline-flex;
  align-items: center;

   

}
.herobtn-text {
  font-size: 15px;
  font-weight: 600;
  color: black;
}
.hero-btn i {
  font-size: 23px;
}

.Hero .hero-rightside {
  width: 60%;
  margin-left: 83px;
      margin-top: 25px;
  position: relative;
}
.Hero .buttonpos {
  position: absolute;
  bottom: 24px;
  left: 0;
}
.Hero .hero-rightside .swiperslide-image {
  position: relative;
}
.Hero .swiperslide-image .label-slide {
  width: 199px;
  height: 61px;
  padding: 19px;
  background: rgba(0, 0, 0, 0.95);
 
  border-radius: 0px 10px 10px 0px;
}

.Hero .swiperslide-image .label-text {
  color: #ff9100;
  font-size: 16px;
  font-weight: 500;
}


.swiper-slide .image-overlay {
  position: absolute;
  right:0;
  bottom:0;
  width: 100%;
  height: 100%;
  background: none;
  transition: background 0.3s ease;
  z-index: 1;
}

.swiper-slide-active .image-overlay {
       background: linear-gradient(135deg, rgb(0 0 0 / 80%) 0%, rgba(22, 24, 27, 0) 100%);
}

