@font-face {
  font-family: 'SF Pro Display';
  src: url('../Fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url('../Fonts/SFPRODISPLAYSEMIBOLDITALIC.OTF') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}